* {
    box-sizing: border-box;
}

body {
    font-size: 1.35em;
    font-family: sans-serif;
    color: #fff;
    background: #e8e9e9;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    color: #555;
}
